/**
 * Spoticons
 *
 * Variable Set: Spoticons
 *
 * Styleguide 1.2.1
 */
/**
 * Common color usages
 *
 * These colors are provided because they might be needed in many places where
 * they should be synced up.
 */
/**
 * Vertical Grid System
 * --------------------
 *
 * We try to adhere to a baseline grid, which is a vertical grid with lines
 * every X pixels. The baseline of text should always fall on this line.
 */
/**
 * Horizontal Grid System
 * ----------------------
 *
 * This grid system is responsive in four sizes, where all sizes use a 12 column
 * grid.
 *
 * Since the values are calculated, you need to compile the Less code to see the
 * values. From glue, run `node tools/output-grid-values.js` to see
 * the values.
 *
 * Here's a reference for what to use the variables for:
 *
 * Min Width (including scroll bar)
 * --------------------------------
 * Including scroll bar:  $glue-screen-min
 * Excluding scroll bar:  $glue-body-width-min
 *
 * Max Width (of content, space on the sides)
 * ------------------------------------------
 * Including scroll bar:  $glue-screen-max
 * Excluding scroll bar:  $glue-body-width-max
 *
 * Page Gutter (gutter on the sides of the page)
 * ---------------------------------------------
 * Size:                  $glue-grid-page-gutter
 *
 * Extra Small (xs)
 * ----------------
 * Gutter size:           $glue-grid-column-gutter-xs
 * View width range:      $glue-screen-min to $glue-screen-xs-max
 *
 * Small (sm)
 * ----------
 * Gutter size:           $glue-grid-column-gutter-sm
 * View width range:      $glue-screen-sm-min to $glue-screen-sm-max
 *
 * Medium (md)
 * -----------
 * Gutter size:           $glue-grid-column-gutter-md
 * View width range:      $glue-screen-md-min to $glue-screen-md-max
 *
 * Large (lg)
 * ----------
 * Gutter size:           $glue-grid-column-gutter-lg
 * View width range:      $glue-screen-lg-min to $glue-screen-lg-max
 */
.offline .online-content {
  display: none;
}

.offline .error-and-offline {
  display: block;
}

.offline .error-and-offline .offline-content {
  display: block;
}

.app-header {
  position: relative;
  z-index: 2;
}

.app-content {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.notif-center-container {
  margin-top: 40px;
}

.notif-content-item {
  padding: 16px 0;
  border-bottom: 1px solid #333333;
  box-sizing: border-box;
  position: relative;
}

.notif-content-image {
  display: inline-block;
  height: 128px;
  width: 128px;
}

.notif-center-list {
  list-style: none;
  padding: 0;
}

.notif-msg-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 32px;
  position: absolute;
  top: 25%;
  width: calc(100% - 128px - 32px - 32px);
}

.notif-content-type {
  color: #a0a0a0;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.notif-content-date {
  color: #a0a0a0;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
}

.notif-msg {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 32px 8px 0;
}

.notif-chevron-container {
  color: #404040;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: calc(100% - 32px);
}
