html {
    color: #666;
}

body {
    color: #666;
    background-color: #fff;
}

hr {
    border-top: 1px solid #eee;
}

pre {
    background-color: #eee;
    color: #666;
}

legend {
    color: #666;
    border-bottom: 1px solid #eee;
}

input[type="search"] {
    background-color: rgba(220,220,220,.5);
    color: #000;
}

.text-secondary a, a.text-secondary {
    color: #666;
}

.text-meta {
    color: #666;
}

.text-muted {
    color: #666;
}

.text-muted a, a.text-muted {
    color: #666;
}

.text-success {
    color: #7f1ec6;
}

.inverted-text {
    color: #eee;
}

abbr[title], abbr[data-original-title] {
    border-bottom: 1px dotted #666;
}

blockquote, .blockquote {
    border-left: 3px solid #eee;
}

blockquote small, blockquote .small, .blockquote small, .blockquote .small {
    color: #666;
}

blockquote.pull-right, .blockquote.pull-right {
    border-right: 5px solid #eee;
}

a {
    color: #000;
}

a:hover:not(.button), a:focus:not(.button), a.contextmenu-active:not(.button) {
    color: #000;
}

.spoticon-search-16::before {
    color: #666;
}

.scrollbar-style-visible-mac ::-webkit-scrollbar-thumb, .scrollbar-style-visible-windows ::-webkit-scrollbar-thumb {
    background-color: #cecece;
}

.scrollbar-style-visible-mac ::-webkit-scrollbar-thumb:hover, .scrollbar-style-visible-windows ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.scrollbar-style-visible-mac ::-webkit-scrollbar-corner, .scrollbar-style-visible-windows ::-webkit-scrollbar-corner {
    background-color: #cecece;
}

.tr-drag-indicator {
    border-top: 1px solid #7f1ec6;
}

code, pre {
    color: #666;
}

code {
    background-color: #eee;
}

.button.button-green {
    background: #7f1ec6;
}

.button.button-green.contextmenu-active, .button.button-green:not(:disabled):hover {
    background-color: #7f1ec6;
}

.button.button-green:not(:disabled):hover:active {
    background: #48116f;
}

.button.button-white:not(:disabled):hover:active {
    background: #666;
}

.button.button-with-stroke {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-with-stroke.contextmenu-active, .button.button-with-stroke:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.button.button-with-stroke::after {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-with-stroke.added, .button.button-with-stroke.active {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-with-stroke.added.contextmenu-active, .button.button-with-stroke.added:not(:disabled):hover, .button.button-with-stroke.active.contextmenu-active, .button.button-with-stroke.active:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.button.button-with-stroke.added::after, .button.button-with-stroke.active::after {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-icon-only {
    color: #666;
}

.button.button-icon-only.contextmenu-active, .button.button-icon-only:not(:disabled):hover {
    color: #000;
}

.button.button-icon-only.active {
    color: #7f1ec6;
}

.button.button-icon-with-stroke {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-icon-with-stroke.contextmenu-active, .button.button-icon-with-stroke:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.button.button-icon-with-stroke::after {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-large.button-green {
    background: #7f1ec6;
}

.button.button-large.button-green.contextmenu-active, .button.button-large.button-green:not(:disabled):hover {
    background-color: #7f1ec6;
}

.button.button-large.button-green:not(:disabled):hover:active {
    background: #48116f;
}

.button.button-large.button-white:not(:disabled):hover:active {
    background: #666;
}

.button.button-large.button-with-stroke {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-large.button-with-stroke.contextmenu-active, .button.button-large.button-with-stroke:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.button.button-large.button-with-stroke::after {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-large.button-with-stroke.added, .button.button-large.button-with-stroke.active {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-large.button-with-stroke.added.contextmenu-active, .button.button-large.button-with-stroke.added:not(:disabled):hover, .button.button-large.button-with-stroke.active.contextmenu-active, .button.button-large.button-with-stroke.active:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.button.button-large.button-with-stroke.added::after, .button.button-large.button-with-stroke.active::after {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-large.button-icon-only {
    color: #666;
}

.button.button-large.button-icon-only.active {
    color: #7f1ec6;
}

.button.button-large.button-icon-with-stroke {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-large.button-icon-with-stroke.contextmenu-active, .button.button-large.button-icon-with-stroke:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.button.button-large.button-icon-with-stroke::after {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-small.button-green {
    background: #7f1ec6;
}

.button.button-small.button-green.contextmenu-active, .button.button-small.button-green:not(:disabled):hover {
    background-color: #7f1ec6;
}

.button.button-small.button-green:not(:disabled):hover:active {
    background: #48116f;
}

.button.button-small.button-white:not(:disabled):hover:active {
    background: #666;
}

.button.button-small.button-with-stroke {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-small.button-with-stroke.contextmenu-active, .button.button-small.button-with-stroke:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.button.button-small.button-with-stroke::after {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-small.button-with-stroke.added, .button.button-small.button-with-stroke.active {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-small.button-with-stroke.added.contextmenu-active, .button.button-small.button-with-stroke.added:not(:disabled):hover, .button.button-small.button-with-stroke.active.contextmenu-active, .button.button-small.button-with-stroke.active:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.button.button-small.button-with-stroke.added::after, .button.button-small.button-with-stroke.active::after {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-small.button-icon-only {
    color: #666;
}

.button.button-small.button-icon-only.active {
    color: #7f1ec6;
}

.button.button-small.button-icon-with-stroke {
    box-shadow: inset 0 0 0 1px #666;
}

.button.button-small.button-icon-with-stroke.contextmenu-active, .button.button-small.button-icon-with-stroke:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.button.button-small.button-icon-with-stroke::after {
    box-shadow: inset 0 0 0 1px #666;
}

.added .button-add.just-changed, .added .button-add.stay-added, .button-add.added.just-changed, .button-add.added.stay-added {
    border-color: #7f1ec6;
}

.added .button-add:not(.button-icon-only):not(.button-icon-with-stroke), .button-add.added:not(.button-icon-only):not(.button-icon-with-stroke) {
    color: #7f1ec6;
}

.added .button-add:not(.button-icon-only):not(.button-icon-with-stroke).contextmenu-active, .added .button-add:not(.button-icon-only):not(.button-icon-with-stroke):not(:disabled):hover, .button-add.added:not(.button-icon-only):not(.button-icon-with-stroke).contextmenu-active, .button-add.added:not(.button-icon-only):not(.button-icon-with-stroke):not(:disabled):hover {
    color: #7f1ec6;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #666;
}

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
    color: #7f1ec6;
}

.has-success .form-control {
    border-color: #7f1ec6;
}

.dropdown-menu > li > a, .dropdown-interior-menu > li > a {
    color: #666;
}

.dropdown-menu > .active > a, .dropdown-menu > .active.selected, .dropdown-menu > .active > a:focus, .dropdown-interior-menu > .active > a, .dropdown-interior-menu > .active.selected, .dropdown-interior-menu > .active > a:focus {
    color: #7f1ec6;
}

.dropdown-submenu > a::after {
    border-left-color: #666;
}

.divider {
    border-bottom: 1px solid #eee;
}

.section-divider {
    border-bottom: 1px solid #eee;
}

.section-divider > * {
    color: #000;
}

.section-divider .section-auxiliary a {
    color: #666;
}

.table th, .table td {
    border-top: 1px solid #eee;
}

.table tbody > tr:last-child > td {
    border-bottom: 1px solid #eee;
}

.list-group-item {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

a.list-group-item .list-group-item-text {
    color: #666;
}

a.list-group-item.active {
    background-color: #7f1ec6;
    border-color: #7f1ec6;
}

.list-group-item.list-group-item-media.active::before {
    background: #7f1ec6;
}

.list-group-item.list-group-item-media:hover, .list-group-item.list-group-item-media:active {
    background-color: #eee;
}

.share-object .share-meta {
    color: #666;
}

.share-object.list-group-item:hover {
    background-color: #eee;
}

.share-object.list-group-item:active {
    background-color: #eee;
}

.nav {
    border-bottom: 1px solid #eee;
}

.nav > li > a {
    color: #666;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #000;
}

.nav > li.active > a {
    color: #000;
}

.nav > li.active > a::after {
    background-color: #7f1ec6;
}

.nav > li.disabled > a {
    color: #666;
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    color: #666;
}

.nav-header {
    color: #666;
}

.nav .caret {
    border-top-color: #666;
    border-bottom-color: #666;
}

.navbar.sticky-top {
    background: #fff;
    border-bottom: 1px solid #eee;
}
]
.etched-top::before {
    background-color: #eee;
}

.etched-bottom {
    border-bottom: 1px solid #eee;
}

.etched-right {
    border-right: 1px solid #eee;
}

.main-menu.narrow-menu a, .main-menu.wide-menu a {
    color: #666;
}

.main-menu.narrow-menu a.active::after, .main-menu.narrow-menu a.selected::after {
    background-color: #7f1ec6;
}

.main-menu.narrow-menu a#nav-messages.active, .main-menu.narrow-menu a#nav-notifications.active {
    color: #7f1ec6;
}

.main-menu.narrow-menu a#nav-messages.active::before, .main-menu.narrow-menu a#nav-notifications.active::before {
    color: #7f1ec6;
}

.main-menu-bottom::before {
    background-color: #eee;
}

.main-menu.wide-menu a.active::after, .main-menu.wide-menu a.selected::after, .main-menu.wide-menu .item.active::after, .main-menu.wide-menu .item.selected::after {
    border-right: 5px solid #7f1ec6;
}

.main-menu.wide-menu .highlighted-folder > a::after {
    background-color: #7f1ec6;
}

.main-menu-nav ul {
    border-bottom: 1px solid #eee;
}

.tooltip, #tooltip {
    color: #666;
}

.popover {
    background-color: #eee;
}

.popover-nav .nav > li.active > a::after {
    background-color: #7f1ec6;
}

.modal-generic {
    background-color: #eee;
}

.alert .close.contextmenu-active, .alert .close:not(:disabled):hover {
    color: white;
}

.alert .close:not(:disabled):hover:active {
    color: #ccc;
}

.alert-success {
    background-color: #7f1ec6;
}

.label {
    color: #eee;
    text-shadow: 0 0 #eee;
}

.label-success {
    background-color: #7f1ec6;
}

.calendar-icon-day {
    color: #eee;
}

.slider.enabled {
    background: #7f1ec6;
}

.progress-bar, .progress-bar .inner {
    background: #ccc;
}

.progress-bar .inner {
    background: #7f1ec6;
}

.card-placeholder-wrapper {
    background: #eee;
}

.card-button-add.active {
    color: #7f1ec6;
}

.card .card-button-play {
    box-shadow: inset 0 0 0 1px #666;
}

.card .card-button-play.contextmenu-active, .card .card-button-play:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.card .card-button-play::after {
    box-shadow: inset 0 0 0 1px #666;
}

.card-button-more.active {
    color: #7f1ec6;
}

.card-info-title {
    color: #000;
}

.card-info-title a {
    color: #000;
}

.card-info-title a:hover:active {
    color: #666;
}

.card-info-subtitle-links {
    color: #666;
}

.card-info-subtitle-links a {
    color: #666;
}

.card-info-subtitle-metadata {
    color: #666;
}

.card-info-subtitle-description {
    color: #666;
}

.card.playing .card-info-title, .card.paused .card-info-title, .playing .card .card-info-title, .paused .card .card-info-title {
    color: #7f1ec6;
}

.card.playing .card-info-title a, .card.paused .card-info-title a, .playing .card .card-info-title a, .paused .card .card-info-title a {
    color: #7f1ec6;
}

.card.playing .card-info-title a:hover, .card.paused .card-info-title a:hover, .playing .card .card-info-title a:hover, .paused .card .card-info-title a:hover {
    color: #7f1ec6;
}

.card-horizontal > .card-horizontal-interior-wrapper:hover, .card-horizontal > .card-horizontal-interior-wrapper:active {
    background-color: #eee;
}

.card-horizontal.pressed > .card-horizontal-interior-wrapper, .card-horizontal.contextmenu-active > .card-horizontal-interior-wrapper {
    background-color: #eee;
}

.card-horizontal-size-medium .card-button-play {
    box-shadow: inset 0 0 0 1px #666;
}

.card-horizontal-size-medium .card-button-play.contextmenu-active, .card-horizontal-size-medium .card-button-play:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.card-horizontal-size-medium .card-button-play::after {
    box-shadow: inset 0 0 0 1px #666;
}

.card-puff__subtitle {
    color: #666;
}


.h-label {
    color: #666;
}

.h-search-bar {
    border-top: 1px solid #eee;
}

.h-search-wrapper:hover::before {
    color: #000;
}

.h-search-wrapper:hover .h-search::-webkit-input-placeholder {
    color: #000;
}

.h-search {
    color: #000;
}

.focus .h-search, .h-search:focus {
    background: #fafafa;
}

.h-search-suggestions {
    background: #eee;
}

.header-image {
    border-bottom: 1px solid #eee;
}

.header-inline .h-title {
    max-height: 88px;
}

.h-sticky-header .h-sticky-container {
    border-bottom: 1px solid #eee;
}

.trend-mark.trend-up {
    color: #7f1ec6;
}

.tracklist-station-container::after {
    background: linear-gradient(transparent,#fff);
}

.tracklist-album, .tracklist-chart, .tracklist-basic, .tracklist-playlist, .tracklist-podcast, .tracklist-popular, .tracklist-station, .tracklist-queue, .tracklist-search {
    border-bottom: 1px solid #eee;
}

.tl-header th, .tl-cell {
    border-top: 1px solid #eee;
}

.tl-header th {
    color: #666;
}

.sticky-clone .tl-header {
    background: #fff;
}

.tl-row .button-play {
    box-shadow: inset 0 0 0 1px #666;
}

.tl-row .button-play.contextmenu-active, .tl-row .button-play:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.tl-row .button-play::after {
    box-shadow: inset 0 0 0 1px #666;
}

.tl-row .button-play.button-play.playing:not(:hover).contextmenu-active, .tl-row .button-play.button-play.playing:not(:hover):not(:disabled):hover, .tl-row.playing .tl-row .button-play.button-play:not(:hover).contextmenu-active, .tl-row.playing .tl-row .button-play.button-play:not(:hover):not(:disabled):hover, .card.playing .tl-row .button-play.button-play:not(:hover).contextmenu-active, .card.playing .tl-row .button-play.button-play:not(:hover):not(:disabled):hover {
    box-shadow: inset 0 0 0 1px transparent;
}

.tl-row.playing.tl-row .button-play.button-play:not(:hover).contextmenu-active, .tl-row.playing.tl-row .button-play.button-play:not(:hover):not(:disabled):hover, .card.playing.tl-row .button-play.button-play:not(:hover).contextmenu-active, .card.playing.tl-row .button-play.button-play:not(:hover):not(:disabled):hover {
    box-shadow: inset 0 0 0 1px transparent;
}

.tl-row.current .tl-cell:not(.tl-number), .tl-row.current .tl-cell a:link, .tl-row.current .tl-highlight {
    color: #7f1ec6;
}

.tl-row.selected + .tl-row .tl-cell {
    border-top-color: #eee;
}

.tl-row.selected .tl-cell {
    background-color: #eee;
    border-color: #eee;
}

.offline .tl-row:not(.unavailable):not(.local).offline-downloaded.current .tl-cell, .offline .tl-row:not(.unavailable):not(.local).offline-downloaded.current .tl-cell a:link, .offline .tl-row:not(.unavailable):not(.local).offline-downloaded.current .tl-cell .tl-highlight, .offline .tl-row:not(.unavailable):not(.local).local.local-file-available.current .tl-cell, .offline .tl-row:not(.unavailable):not(.local).local.local-file-available.current .tl-cell a:link, .offline .tl-row:not(.unavailable):not(.local).local.local-file-available.current .tl-cell .tl-highlight {
    color: #7f1ec6 !important;
}

.tl-row:hover .tl-cell, .tl-row.contextmenu-active .tl-cell {
    background: #eee;
}

.tl-row:hover .tl-highlight, .tl-row.contextmenu-active .tl-highlight {
    color: black;
}

.tl-row:hover.playing .tl-highlight, .tl-row.contextmenu-active.playing .tl-highlight {
    color: #7f1ec6;
}

.tl-row:hover .tl-more .button:not([disabled])::before, .tl-row:hover .tl-save .button:not([disabled])::before, .tl-row.contextmenu-active .tl-more .button:not([disabled])::before, .tl-row.contextmenu-active .tl-save .button:not([disabled])::before {
    color: #000;
}

.tl-row:hover .tl-more .button:not([disabled]):hover::before, .tl-row:hover .tl-save .button:not([disabled]):hover::before, .tl-row.contextmenu-active .tl-more .button:not([disabled]):hover::before, .tl-row.contextmenu-active .tl-save .button:not([disabled]):hover::before {
    color: #000;
}

.tl-row:hover.current .tl-highlight, .tl-row.contextmenu-active.current .tl-highlight {
    color: #7f1ec6;
}

.tl-row:hover .tl-explicit .label, .tl-row:hover .tl-premium .label, .tl-row.selection-focus .tl-explicit .label, .tl-row.selection-focus .tl-premium .label {
    color: #000 !important;
}

.tl-highlight {
    color: #000;
}

.tl-sort-asc::after, .tl-sort-desc::after {
    color: #7f1ec6;
}

th[data-sort]:hover {
    color: #000;
}

.facepile-badge {
    box-shadow: inset 0 0 0 1px #666;
}

.facepile-badge.contextmenu-active, .facepile-badge:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.facepile-badge::after {
    box-shadow: inset 0 0 0 1px #666;
}

.facepile-badge.button-play.playing:not(:hover).contextmenu-active, .facepile-badge.button-play.playing:not(:hover):not(:disabled):hover, .tl-row.playing .facepile-badge.button-play:not(:hover).contextmenu-active, .tl-row.playing .facepile-badge.button-play:not(:hover):not(:disabled):hover, .card.playing .facepile-badge.button-play:not(:hover).contextmenu-active, .card.playing .facepile-badge.button-play:not(:hover):not(:disabled):hover {
    box-shadow: inset 0 0 0 1px transparent;
}

.tl-row.playing.facepile-badge.button-play:not(:hover).contextmenu-active, .tl-row.playing.facepile-badge.button-play:not(:hover):not(:disabled):hover, .card.playing.facepile-badge.button-play:not(:hover).contextmenu-active, .card.playing.facepile-badge.button-play:not(:hover):not(:disabled):hover {
    box-shadow: inset 0 0 0 1px transparent;
}

.interaction-debug.interaction-debug-wireframes .navbar.sticky-top {
    background-color: #fff !important;
}









.glue-page-header__background-color {
    background-color: white;
    background-image: linear-gradient(to bottom, transparent, white);
}

.glue-page-header__background-overlay,
.glue-page-header__background-scroll-overlay {
    background: transparent;
}

.glue-page-header__content .glue-page-header__title,
.glue-page-header__sticky .glue-page-header__title {
    color: black !important;
}

.glue-page-header--with-active-sticky-header .glue-page-header__background {
    border-bottom-color: #eeeeee;
}

.tl-header th {
    border-top-color: transparent;
}
