/**
 * Spoticons
 *
 * Variable Set: Spoticons
 *
 * Styleguide 1.2.1
 */
/**
 * Common color usages
 *
 * These colors are provided because they might be needed in many places where
 * they should be synced up.
 */
/**
 * Vertical Grid System
 * --------------------
 *
 * We try to adhere to a baseline grid, which is a vertical grid with lines
 * every X pixels. The baseline of text should always fall on this line.
 */
/**
 * Horizontal Grid System
 * ----------------------
 *
 * This grid system is responsive in four sizes, where all sizes use a 12 column
 * grid.
 *
 * Since the values are calculated, you need to compile the Less code to see the
 * values. From glue, run `node tools/output-grid-values.js` to see
 * the values.
 *
 * Here's a reference for what to use the variables for:
 *
 * Min Width (including scroll bar)
 * --------------------------------
 * Including scroll bar:  $glue-screen-min
 * Excluding scroll bar:  $glue-body-width-min
 *
 * Max Width (of content, space on the sides)
 * ------------------------------------------
 * Including scroll bar:  $glue-screen-max
 * Excluding scroll bar:  $glue-body-width-max
 *
 * Page Gutter (gutter on the sides of the page)
 * ---------------------------------------------
 * Size:                  $glue-grid-page-gutter
 *
 * Extra Small (xs)
 * ----------------
 * Gutter size:           $glue-grid-column-gutter-xs
 * View width range:      $glue-screen-min to $glue-screen-xs-max
 *
 * Small (sm)
 * ----------
 * Gutter size:           $glue-grid-column-gutter-sm
 * View width range:      $glue-screen-sm-min to $glue-screen-sm-max
 *
 * Medium (md)
 * -----------
 * Gutter size:           $glue-grid-column-gutter-md
 * View width range:      $glue-screen-md-min to $glue-screen-md-max
 *
 * Large (lg)
 * ----------
 * Gutter size:           $glue-grid-column-gutter-lg
 * View width range:      $glue-screen-lg-min to $glue-screen-lg-max
 */
/**
 * 1. deals with the whole area that should not be draggable
 * 2. deals with knob extending outside this area
 * 3. deals with footer links, allowing to drag in between
 */
html {
  -webkit-app-region: drag;
  /* [1] */
}

html .login__form,
html .signup__form,
html .rm-field > div,
html .login__footer > a {
  -webkit-app-region: no-drag;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #181818;
}

a {
  cursor: pointer;
}

.main {
  height: 100%;
  transition: 0.2s opacity;
}

.login,
.signup {
  background: url(../images/background.jpg) no-repeat top center;
  background-size: cover;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.login__header {
  margin: 46px 0;
  text-align: center;
}

.login__header-logo {
  width: 190px;
  height: 58px;
}

.login__form,
.signup__form {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.login__form label > input,
.signup__form label > input {
  margin-right: 10px;
}

.login__form-facebook-button,
.signup__form-facebook-button {
  width: 100%;
}

.login__form-or,
.signup__form-or {
  margin: 20px auto;
  text-align: center;
  height: 16px;
}

.login__form-input {
  background-color: #333333;
  border: 0;
  color: #ffffff;
}

.login__form-input::-webkit-input-placeholder {
  color: #a0a0a0;
}

.login__form-input:focus {
  border-color: #404040;
  outline: 0;
  background-color: #404040;
  color: #ffffff;
}

.login__form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.signup__form-date {
  display: inline-block;
  margin-left: 5%;
  width: 25%;
}

.signup__form-date--month {
  width: 40%;
  margin-left: 0;
}

.form-group {
  text-align: left;
}

.gender-label {
  margin-right: 20px;
}

.birth-date-label {
  display: block;
}

.login-message,
.signup-message {
  cursor: default;
}

.login__footer {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.015em;
  font-weight: 200;
  color: #b3b3b3;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  text-align: center;
  line-height: 35px;
}

.facebook-education {
  margin-top: 22px;
}

.facebook-education__content {
  text-align: left;
}

.facebook-education__button {
  margin-top: 22px;
}

.login-leave {
  opacity: 1;
}

.login-leave.login-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
