body {
    background: #fafafa;
    border-left: solid 1px #eee;
}

.section-divider-sticky-wrapper .section-divider {
    background-color: #fafafa;
}

.friend .user .name {
    color: #000;
}

.buddy-card {
    background-color: transparent;
}