/**
 * Spoticons
 *
 * Variable Set: Spoticons
 *
 * Styleguide 1.2.1
 */
/**
 * Common color usages
 *
 * These colors are provided because they might be needed in many places where
 * they should be synced up.
 */
/**
 * Vertical Grid System
 * --------------------
 *
 * We try to adhere to a baseline grid, which is a vertical grid with lines
 * every X pixels. The baseline of text should always fall on this line.
 */
/**
 * Horizontal Grid System
 * ----------------------
 *
 * This grid system is responsive in four sizes, where all sizes use a 12 column
 * grid.
 *
 * Since the values are calculated, you need to compile the Less code to see the
 * values. From glue, run `node tools/output-grid-values.js` to see
 * the values.
 *
 * Here's a reference for what to use the variables for:
 *
 * Min Width (including scroll bar)
 * --------------------------------
 * Including scroll bar:  $glue-screen-min
 * Excluding scroll bar:  $glue-body-width-min
 *
 * Max Width (of content, space on the sides)
 * ------------------------------------------
 * Including scroll bar:  $glue-screen-max
 * Excluding scroll bar:  $glue-body-width-max
 *
 * Page Gutter (gutter on the sides of the page)
 * ---------------------------------------------
 * Size:                  $glue-grid-page-gutter
 *
 * Extra Small (xs)
 * ----------------
 * Gutter size:           $glue-grid-column-gutter-xs
 * View width range:      $glue-screen-min to $glue-screen-xs-max
 *
 * Small (sm)
 * ----------
 * Gutter size:           $glue-grid-column-gutter-sm
 * View width range:      $glue-screen-sm-min to $glue-screen-sm-max
 *
 * Medium (md)
 * -----------
 * Gutter size:           $glue-grid-column-gutter-md
 * View width range:      $glue-screen-md-min to $glue-screen-md-max
 *
 * Large (lg)
 * ----------
 * Gutter size:           $glue-grid-column-gutter-lg
 * View width range:      $glue-screen-lg-min to $glue-screen-lg-max
 */
.about-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  padding: 25px 0;
  text-align: center;
}

.spotify-logo {
  height: 58px;
  user-select: none;
  -webkit-user-drag: none;
}

.version {
  cursor: text;
  -webkit-user-select: text;
}

.upgrade-pending__download-button,
.upgrade-pending__download-button:active,
.upgrade-pending__download-button:focus {
  background: none;
  border: 0;
  color: #ffffff;
  outline: none;
}

.upgrade-prepared__restart-button,
.upgrade-prepared__restart-button:active,
.upgrade-prepared__restart-button:focus {
  background: none;
  border: 0;
  color: #ffffff;
  outline: none;
}

.content-providers__preamble {
  margin: 0;
  padding: 0;
}

.content-providers__list {
  display: block;
  list-style: none;
  margin: 10px 0 0;
}

.content-providers__list-item {
  display: inline-block;
  padding: 5px;
}

.content-providers__provider-logo {
  height: 30px;
  padding: 4px;
}

body {
  overflow: hidden;
}
