.SearchInput {
    color: #fff;
}

.SearchInput__clearButton {
    color: #000;
}

.SidebarListItem--is-active::after {
    background-color: #9a37e1;
}

.browser-navigation-top-bar .button {
    color: #000;
    text-shadow: 1px 1px rgba(255,255,255,.3);
}

.capping-full-screen-message .cfsm-close-btn.active {
    color: #9a37e1;
}

.capping-full-screen-message .cfsm-close-btn.active.contextmenu-active, .capping-full-screen-message .cfsm-close-btn.active:not(:disabled):hover {
    color: #9a37e2;
}

#view-content > .embedded-app, #view-content > iframe {
    background-color: #fff;
}

.sidebar .sidebar-navbar.sidebar-scroll-element {
    background-color: #fafafa;
}

.sidebar .sidebar-navbar.sidebar-scroll-element h2 {
    color: #666;
}

.sidebar .sidebar-navbar.sidebar-scroll-element .item > div, .sidebar .sidebar-navbar.sidebar-scroll-element .item > a {
    color: #666;
}

.sidebar .sidebar-navbar.sidebar-scroll-element .item:not(.folder) > div:hover, .sidebar .sidebar-navbar.sidebar-scroll-element .item.contextmenu-active:not(.folder) > div, .sidebar .sidebar-navbar.sidebar-scroll-element .item:not(.folder) > a:hover, .sidebar .sidebar-navbar.sidebar-scroll-element .item.contextmenu-active:not(.folder) > a, .sidebar .sidebar-navbar.sidebar-scroll-element .item:not(.folder) > div:focus, .sidebar .sidebar-navbar.sidebar-scroll-element .item:not(.folder) > a:focus, .sidebar .sidebar-navbar.sidebar-scroll-element .item.folder .title:hover {
    color: #000;
}

.sidebar .sidebar-navbar.sidebar-scroll-element .item:not(.folder).active > div, .sidebar .sidebar-navbar.sidebar-scroll-element .item:not(.folder).active > div:focus, .sidebar .sidebar-navbar.sidebar-scroll-element .item:not(.folder).active > a, .sidebar .sidebar-navbar.sidebar-scroll-element .item:not(.folder).active > a:focus, .sidebar .sidebar-navbar.sidebar-scroll-element .item.folder.active .title, .sidebar .sidebar-navbar.sidebar-scroll-element .item.folder.active .title:focus, .sidebar .sidebar-navbar.sidebar-scroll-element .item.folder.contextmenu-active .title, .sidebar .sidebar-navbar.sidebar-scroll-element .item.folder.contextmenu-active .title:focus {
    color: #000;
}

.sidebar .sidebar-navbar.sidebar-scroll-element .item:not(.folder).active > div:hover, .sidebar .sidebar-navbar.sidebar-scroll-element .item:not(.folder).active > a:hover, .sidebar .sidebar-navbar.sidebar-scroll-element .item.folder.active .title:hover, .sidebar .sidebar-navbar.sidebar-scroll-element .item.folder.contextmenu-active .title:hover {
    color: #000;
}

.sidebar .sidebar-navbar.sidebar-scroll-element .item.active::after {
    border-right: 4px solid #7f1ec6;
}

.sidebar .sidebar-navbar.sidebar-scroll-element .item.offline.complete .offline-indicator {
    color: #7f1ec6;
}

.sidebar .sidebar-navbar.sidebar-scroll-element .item.active .drop-target-active {
    color: #9a37e1;
}

.sidebar #offline-global-progress p {
    background-color: #7f1ec6;
}

.new-playlist::before {
    background: #eee;
}

.new-playlist .new-playlist-button, .new-playlist .new-playlist-text {
    color: #666;
}

.new-playlist:hover .new-playlist-button, .new-playlist:hover .new-playlist-icon, .new-playlist:hover .new-playlist-text, .show-focus .new-playlist:focus .new-playlist-button, .show-focus .new-playlist:focus .new-playlist-icon, .show-focus .new-playlist:focus .new-playlist-text {
    color: #000;
}

.profile {
    color: #000;
    text-shadow: 1px 1px rgba(255,255,255,.3);
}

.profile-menu-wrapper .dropdown > button {
    color: #000;
    text-shadow: 1px 1px rgba(255,255,255,.3);
}

.profile-menu-wrapper .dropdown > button.contextmenu-active, .profile-menu-wrapper .dropdown > button:not(:disabled):hover {
    color: black;
}

.ConnectDevicePicker__button--with-badge::after {
    background-color: #7f1ec6;
}

.ConnectDevicePicker__button--with-badge.active::after {
    background-color: #7f1ec6;
}

.ConnectPopup__device--active, .ConnectPopup__device--active .ConnectPopup__device-title, .ConnectPopup__device--active .ConnectPopup__device-info {
    color: #7f1ec6;
}

.view-player .remote-playback-bar {
    background-color: #7f1ec6;
}

.view-player .remote-playback-bar .arrow {
    border-bottom: 10px solid #7f1ec6;
}

body.remotebar .view-player .player-bar-wrapper {
    height: calc(100% - 20px);
}

#player-progressbar[data-saber-color='green'] .inner {
    box-shadow: 0 0 16px 1px #9a37e1;
}

#player-progressbar[data-saber-color='green'] .inner::before {
    box-shadow: 0 0 16px 4px #9a37e1;
}

.view-player {
    background: #fafafa;
    border-top: 1px solid #eee;
}

.view-player .player-controls-container .progress-container .elapsed, .view-player .player-controls-container .progress-container .remaining {
    color: #666;
}

.view-player .player-controls-container .button-shuffle.active::after, .view-player .player-controls-container .button-repeat.active::after {
    background-color: #7f1ec6;
}

.view-player .player-controls-container .progress-container .progress-bar .inner {
    background-color: #7f1ec6;
}

.view-player .player-controls-container .progress-container.progress-bar-enabled:hover .progress-bar .inner, .view-player .player-controls-container .progress-container.progress-bar-enabled.dragging-progress-bar .progress-bar .inner {
    background-color: #7f1ec6;
}

.view-player .player-controls-container .controls .button-play {
    color: #666;
    box-shadow: inset 0 0 0 1px #666;
}

.view-player .player-controls-container .controls .button-play.contextmenu-active, .view-player .player-controls-container .controls .button-play:not(:disabled):hover {
    color: #000;
    box-shadow: inset 0 0 0 1px #000;
}

.view-player .player-controls-container .controls .button-play:not(:disabled):hover:active {
    color: #000;
}

.view-player .player-controls-container .controls .button-play.button-play.playing:not(:hover).contextmenu-active, .view-player .player-controls-container .controls .button-play.button-play.playing:not(:hover):not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #666;
}

.view-player .player-controls-container .controls .previous, .view-player .player-controls-container .controls .next {
    color: #666;
}

.view-player .player-controls-container .controls .previous.contextmenu-active, .view-player .player-controls-container .controls .previous:not(:disabled):hover, .view-player .player-controls-container .controls .next.contextmenu-active, .view-player .player-controls-container .controls .next:not(:disabled):hover {
    color: #000;
}

.view-player .player-controls-container .controls .previous.active, .view-player .player-controls-container .controls .next.active {
    color: #9a37e1;
}

.view-player .player-controls-container .controls .previous.active.contextmenu-active, .view-player .player-controls-container .controls .previous.active:not(:disabled):hover, .view-player .player-controls-container .controls .next.active.contextmenu-active, .view-player .player-controls-container .controls .next.active:not(:disabled):hover {
    color: #9a37e2;
}

.view-player .player-controls-container .controls .button-shuffle, .view-player .player-controls-container .controls .button-repeat, .view-player .player-controls-container .controls .button-thumbs-down, .view-player .player-controls-container .controls .button-thumbs-up {
    color: #666;
}

.view-player .player-controls-container .controls .button-shuffle.contextmenu-active, .view-player .player-controls-container .controls .button-shuffle:not(:disabled):hover, .view-player .player-controls-container .controls .button-repeat.contextmenu-active, .view-player .player-controls-container .controls .button-repeat:not(:disabled):hover, .view-player .player-controls-container .controls .button-thumbs-down.contextmenu-active, .view-player .player-controls-container .controls .button-thumbs-down:not(:disabled):hover, .view-player .player-controls-container .controls .button-thumbs-up.contextmenu-active, .view-player .player-controls-container .controls .button-thumbs-up:not(:disabled):hover {
    color: #000;
}

.view-player .player-controls-container .controls .button-shuffle.active, .view-player .player-controls-container .controls .button-repeat.active, .view-player .player-controls-container .controls .button-thumbs-down.active, .view-player .player-controls-container .controls .button-thumbs-up.active {
    color: #7f1ec6;
}

.view-player .player-controls-container .controls .button-shuffle.active.contextmenu-active, .view-player .player-controls-container .controls .button-shuffle.active:not(:disabled):hover, .view-player .player-controls-container .controls .button-repeat.active.contextmenu-active, .view-player .player-controls-container .controls .button-repeat.active:not(:disabled):hover, .view-player .player-controls-container .controls .button-thumbs-down.active.contextmenu-active, .view-player .player-controls-container .controls .button-thumbs-down.active:not(:disabled):hover, .view-player .player-controls-container .controls .button-thumbs-up.active.contextmenu-active, .view-player .player-controls-container .controls .button-thumbs-up.active:not(:disabled):hover {
    color: #7f1ec6;
}

.view-player .player-controls-container .controls .button-shuffle.active:not(:disabled):hover:active, .view-player .player-controls-container .controls .button-repeat.active:not(:disabled):hover:active, .view-player .player-controls-container .controls .button-thumbs-down.active:not(:disabled):hover:active, .view-player .player-controls-container .controls .button-thumbs-up.active:not(:disabled):hover:active {
    color: #7f1ec6;
}

.view-player .extra-controls-container .subtitles-picker .button-subtitles.spoticon-cc-16.active {
    background-color: #7f1ec6 !important;
}

.view-player .extra-controls-container .subtitles-picker .button-subtitles.spoticon-cc-16.active:hover {
    background-color: #9a37e1 !important;
}

.view-player .extra-controls-container .subtitles-picker .dropdown-menu .list-group-item.selected {
    color: #7f1ec6;
}

.view-player .extra-controls-container .subtitles-picker .dropdown-menu .list-group-item.selected .selected-icon {
    color: #7f1ec6;
}

.view-player .extra-controls-container .button-lyrics, .view-player .extra-controls-container .button-queue, .view-player .extra-controls-container .button-subtitles, .view-player .extra-controls-container .button-devices {
    color: #666;
}

.view-player .extra-controls-container .button-lyrics.contextmenu-active, .view-player .extra-controls-container .button-lyrics:not(:disabled):hover, .view-player .extra-controls-container .button-queue.contextmenu-active, .view-player .extra-controls-container .button-queue:not(:disabled):hover, .view-player .extra-controls-container .button-subtitles.contextmenu-active, .view-player .extra-controls-container .button-subtitles:not(:disabled):hover, .view-player .extra-controls-container .button-devices.contextmenu-active, .view-player .extra-controls-container .button-devices:not(:disabled):hover {
    color: #000;
}

.view-player .extra-controls-container .button-lyrics.active, .view-player .extra-controls-container .button-queue.active, .view-player .extra-controls-container .button-subtitles.active, .view-player .extra-controls-container .button-devices.active {
    color: #9a37e1;
}

.view-player .extra-controls-container .button-lyrics.active.contextmenu-active, .view-player .extra-controls-container .button-lyrics.active:not(:disabled):hover, .view-player .extra-controls-container .button-queue.active.contextmenu-active, .view-player .extra-controls-container .button-queue.active:not(:disabled):hover, .view-player .extra-controls-container .button-subtitles.active.contextmenu-active, .view-player .extra-controls-container .button-subtitles.active:not(:disabled):hover, .view-player .extra-controls-container .button-devices.active.contextmenu-active, .view-player .extra-controls-container .button-devices.active:not(:disabled):hover {
    color: #9a37e2;
}

.view-player .extra-controls-container .volumebar-container .progress-bar .inner {
    background: #7f1ec6;
}

.view-player .extra-controls-container .volumebar-container .progress-bar-wrapper.active .inner, .view-player .extra-controls-container .volumebar-container .progress-bar-wrapper:hover .inner {
    background: #7f1ec6;
}

.view-player .text-container .text-item-container .text-item .scroll-text-container::before {
    background: linear-gradient(to left,transparent,#fafafa);
}

.view-player .text-container .text-item-container .text-item .scroll-text-container::after {
    background: linear-gradient(to right,transparent,#fafafa);
}

.view-player .track {
    color: #000;
}

.view-player .track a {
    color: #000;
}

.view-player .artist a {
    color: #666;
}

.view-player .artist a:hover, .view-player .artist a.contextmenu-active {
    color: #666;
}

.view-player .nowplaying-ban-button.added, .view-player .nowplaying-heart-button.added, .view-player .nowplaying-add-button.added {
    color: #7f1ec6;
}

.view-player .nowplaying-ban-button.added.just-changed, .view-player .nowplaying-heart-button.added.just-changed, .view-player .nowplaying-add-button.added.just-changed {
    color: #9a37e1;
}

.upgrade-button .blue-border.contextmenu-active, .upgrade-button .blue-border:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

#view-modal .playlist-annotate .image-upload-progress-bar {
    background-color: #9a37e1;
}

#view-modal .quest-based-education-modal-container .quest-based-education-welcome-modal .circular-progress-bar-progress {
    stroke: #9a37e1;
}

#churned-locked-state .cancel-sub {
    color: #9a37e1;
}

#view-buddy-list {
    background-color: #fff;
}

.buddy-list-top-bar-dragger {
    background-image: linear-gradient(to bottom,#fff,transparent 18px);
}

.video-button.contextmenu-active, .video-button:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.GlueButton--with-green-fill {
    background: #7f1ec6;
}

.GlueButton--with-transparent-fill.GlueButton--is-active {
    color: #7f1ec6;
}

.GlueButton--with-transparent-fill.GlueButton--is-active:not(:disabled):hover {
    color: #9a37e1;
}

.GlueButton--with-gray-stroke.GlueButton--is-active {
    color: #7f1ec6;
}

.GlueButton--with-gray-stroke.GlueButton--is-active:not(:disabled):hover {
    color: #9a37e1;
}

.GlueButton--with-gray-stroke:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.GlueButton--style-green {
    background: #7f1ec6;
}

.GlueButton--style-stroke.GlueButton--is-active {
    color: #7f1ec6;
}

.GlueButton--style-stroke.GlueButton--is-active:not(:disabled):hover {
    color: #9a37e1;
}

.GlueButton--style-stroke:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.GlueButton--style-stroke-icon.GlueButton--is-active {
    color: #7f1ec6;
}

.GlueButton--style-stroke-icon.GlueButton--is-active:not(:disabled):hover {
    color: #9a37e1;
}

.GlueButton--style-stroke-icon:not(:disabled):hover {
    box-shadow: inset 0 0 0 1px #fff;
}

.GlueButton--style-icon:not(.GlueButton--is-drop-target-active).GlueButton--is-active {
    color: #7f1ec6;
}

.GlueButton--style-icon:not(.GlueButton--is-drop-target-active).GlueButton--is-active:not(:disabled):hover {
    color: #9a37e1;
}

.GlueCard__add-button--added .GlueButton, .GlueCard__add-button--added .GlueButton--style-icon:not(:disabled):hover {
    color: #9a37e1;
}

.GlueCard__add-button--just-changed .GlueButton, .GlueCard__add-button--just-changed .GlueButton--style-icon:not(:disabled):hover {
    color: #9a37e1;
}

html {
    background-color: transparent;
}

body,
iframe {
    background-color: #fafafa;
}

#view-content {
    background-color: white;
}

#menu-wrapper {
    border-right: solid 1px #eee;
}














.sidebar .sidebar-navbar.sidebar-scroll-element .item .playing-indicator {
    color: #000000;
}

.NewPlaylistButton {
    border-top-color: #eeeeee;
    color: #666666;
}

.NewPlaylistButton:hover {
    color: black;
}




/** Offline label in sidebar **/

.offline-label-wrapper {
    background-color: #7f1ec6;
}


/** Expanded album art in sidebar **/

.now-playing-large {
    border-top: none;
}
